[MASTER]
ignore=.venv,.ipynb_checkpoints
unsafe-load-any-extension=no
extension-pkg-whitelist=numpy,cv2,pyspark
generated-members=sqlite3.*,cv2.*,pyspark.*
ignored-modules=pyspark.sql.functions

[TYPECHECK]
ignored-classes=Namespace

[MESSAGES CONTROL]
disable=C0103,C0200,C0301,C0303,C0330,R0902,R0903,R0911,R0912,R0913,W0621,W0622,W0702,W0703,W1116
